#login-button {
  margin-left: 24rem;
  margin-top: 0;
  border-radius: 1rem;
  /* float: center; */
}
.login-btn {
  float: right;
}

.newa {
  margin-left: 28rem;
  font-size: larger;
  margin-top: 5rem;
  color: black;
}
